@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Store";
}

<h3>Browser Genre</h3>

<p>Select from @Model.Count() genres: </p>
<ul>
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name,"Browser", new { genre = genre.Name })</li>
    }
</ul>
